*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

.header-section{
  height: 100vh;
  width:auto;
  background-image:linear-gradient(rgba(45, 53, 67, 0.79),rgba(45, 53, 67, 0.45)), url(../images/header-section.jpg);
  background-position: center;
  background-size: cover;
}

.nav{
  padding-top: 30px;
  padding-right: 25px;
}

.nav-item a{
  font-size: 180%;
  color: white;
  transition: border-bottom 0.2s;
}

.nav-link:hover{
    font-size: 185%;
    color:white;
    border-bottom: solid 2px rgb(13, 243, 243);
}

#name{
  font-family: 'Grenze Gotisch', cursive;
  font-size: 600%;
  color: white;
  text-align: center;
  margin-top: 350px;
}

#about{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  background-position: center;
  background-size: cover;
  color: white;
  background-color: #2d3543
}

#about h1{
  font-size: 350%;
  padding-bottom: 50px;
}

#about img{
  width:100%;
  border-radius: 100%;
}

#about p{
  text-align: inherit;
  font-size: 150%;
}

#work{
  padding-top: 50px;
  padding-bottom: 30px;
  background-image:linear-gradient(rgba(23, 49, 68, 1),rgba(23, 49, 68, 0.3));
  color: white;
  text-align: center;
}

#work h1{
  font-size: 350%;
  padding-bottom: 30px;
}

.skill-row{
  color: white;
  text-align: center;
}

.skill-list li{
  display: inline-block;
  border:solid 1px #dae1e7;
  color:#142850;
  background-color: white;
  border-radius: 30%;
  padding: 10px 20px;
  margin: 5px;
}

.skill-item{
  padding: 40px 20px;
}

.skill-item img{
  display: inline-block;
  width:100%;
  height: 300px;
  border-radius: 20%;
  margin: 40px auto;
}

#work ul{
  list-style: none;
}

#feedback{
  align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  opacity: 0.85;
  background-color: #252D40;
  text-decoration: underline;
}

input[type=text], select, textarea{
  font-size: 110%;
  width: 100%;
  height: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

#feedback h1{
  text-align: center;
  font-size: 350%;
  padding-bottom: 50px;
}

#feedback form{
  width: 80%;
  margin: 0 auto;
}

label {
  font-size: 120%;
  padding: 10px 10px 10px 0;
  display: inline-block;
}

input[type=submit] {
  margin-top: 70px;
  width: 30%;
  font-weight: bold;
  font-size: 120%;
  background-color: #D3D4DE;
  color: #42424A;
  padding: 10px 15px;
  border: none;
  float: right;
  border-radius: 4px;
  cursor: pointer;
}

#connect{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
  background-position: center;
  background-size: cover;
  background-image:linear-gradient(rgba(45, 53, 67, 0.99),rgba(45, 53, 67, 0.45)), url(../images/connect.jpg);
}

#connect h1{
  font-size: 350%;
  padding-bottom: 50px;
}

#connect ul{
  list-style: none;
}

.text{
  font-size: 215%;
}

#connect .connect-link{
  font-size: 70%;
  margin: 20px;
}

#connect .connect-link i{
  padding-right: 12px;
}

#connect .connect-link a{
  color: white;
}

.footer-section{
  background-color: #2d3543;
  text-align: center;
  font-size: 120%;
  padding: 30px;
}

.footer-section p{
  margin-top: 15px;
  color: white;
}
