*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

.header-section{
  height: 100vh;
  width:auto;
  background-image:linear-gradient(rgba(45, 53, 67, 0.79),rgba(45, 53, 67, 0.45)), url(../images/header-section.jpg);
  background-position: center;
  background-size: cover;
}

.nav{
  padding-top: 30px;
  padding-right: 25px;
}

.nav-item a{
  font-size: 180%;
  color: white;
  transition: border-bottom 0.2s;
}

.nav-link:hover{
    font-size: 190%;
    color:white;
    border-bottom: solid 2px rgb(13, 243, 243);
}

#name{
  font-family: 'Grenze Gotisch', cursive;
  font-size: 500%;
  color: white;
  text-align: center;
  margin-top: 350px;
}

#about{
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  background-position: center;
  background-size: cover;
  color: white;
  background-color: #2d3543
}

#about h1{
  font-size: 350%;
  padding-bottom: 50px;
}

#about img{
  margin-top: -80px;
  margin-left: 50px;
  float: left;
  margin-right: 40px;
  border-radius: 100%;
}

#about p{
  padding: 30px 40px 60px 40px;
  margin-top:auto;
  font-size: 150%;
}

#connect{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
  background-position: center;
  background-size: cover;
  background-image:linear-gradient(rgba(45, 53, 67, 0.79),rgba(45, 53, 67, 0.45)), url(../images/connect.jpg);
}

#connect h1{
  font-size: 350%;
  padding-bottom: 50px;
}

#connect ul{
  list-style: none;
}

#connect .connect-link{
  font-size: 70%;
  margin: 20px;
}

#connect .connect-link a{
  color: white;
}

.footer-section{
  background-color: #31414E;
  text-align: center;
  font-size: 120%;
  padding: 30px;
}

.footer-section p{
  margin-top: 15px;
  color: white;
}
